
.vs/Vidly/v16/.suo
bin/Antlr3.Runtime.pdb
bin/Newtonsoft.Json.xml
bin/roslyn/csc.exe
bin/roslyn/csc.exe.config
bin/roslyn/csc.rsp
bin/roslyn/csi.exe
bin/roslyn/csi.exe.config
bin/roslyn/csi.rsp
bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
bin/roslyn/Microsoft.CodeAnalysis.dll
bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
bin/roslyn/Microsoft.CSharp.Core.targets
bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
bin/roslyn/Microsoft.Managed.Core.targets
bin/roslyn/Microsoft.VisualBasic.Core.targets
bin/roslyn/Microsoft.Win32.Primitives.dll
bin/roslyn/System.AppContext.dll
bin/roslyn/System.Collections.Immutable.dll
bin/roslyn/System.Console.dll
bin/roslyn/System.Diagnostics.DiagnosticSource.dll
bin/roslyn/System.Diagnostics.FileVersionInfo.dll
bin/roslyn/System.Diagnostics.StackTrace.dll
bin/roslyn/System.Globalization.Calendars.dll
bin/roslyn/System.IO.Compression.dll
bin/roslyn/System.IO.Compression.ZipFile.dll
bin/roslyn/System.IO.FileSystem.dll
bin/roslyn/System.IO.FileSystem.Primitives.dll
bin/roslyn/System.Net.Http.dll
bin/roslyn/System.Net.Sockets.dll
bin/roslyn/System.Reflection.Metadata.dll
bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
bin/roslyn/System.Security.Cryptography.Algorithms.dll
bin/roslyn/System.Security.Cryptography.Encoding.dll
bin/roslyn/System.Security.Cryptography.Primitives.dll
bin/roslyn/System.Security.Cryptography.X509Certificates.dll
bin/roslyn/System.Text.Encoding.CodePages.dll
bin/roslyn/System.Threading.Tasks.Extensions.dll
bin/roslyn/System.ValueTuple.dll
bin/roslyn/System.Xml.ReaderWriter.dll
bin/roslyn/System.Xml.XmlDocument.dll
bin/roslyn/System.Xml.XPath.dll
bin/roslyn/System.Xml.XPath.XDocument.dll
bin/roslyn/vbc.exe
bin/roslyn/vbc.exe.config
bin/roslyn/vbc.rsp
bin/roslyn/VBCSCompiler.exe
bin/roslyn/VBCSCompiler.exe.config
bin/System.Web.Helpers.xml
bin/System.Web.Mvc.xml
bin/System.Web.Optimization.xml
bin/System.Web.Razor.xml
bin/System.Web.WebPages.Deployment.xml
bin/System.Web.WebPages.Razor.xml
bin/System.Web.WebPages.xml
bin/Vidly.dll
bin/Vidly.dll.config
bin/Vidly.pdb
obj/Debug/build.force
obj/Debug/Vidly.csproj.CopyComplete
obj/Debug/Vidly.csproj.CoreCompileInputs.cache
obj/Debug/Vidly.csproj.FileListAbsolute.txt
obj/Debug/Vidly.csprojAssemblyReference.cache
obj/Debug/Vidly.dll
obj/Debug/Vidly.pdb
obj/Debug/build.force
obj/Debug/Vidly.csprojAssemblyReference.cache
*.cache
.vs/Vidly/v16/.suo
obj/Debug/build.force
.vs/Vidly/v16/.suo
obj/Debug/Vidly.csprojAssemblyReference.cache
.vs/Vidly/config/applicationhost.config
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.suo
*.resources
Vidly/App_Data/aspnet-Vidly-20210409085806_log.ldf
Vidly/App_Data/aspnet-Vidly-20210409085806.mdf
Vidly/App_Start/Startup.Auth.cs
