@using Vidly.ViewModels
@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count == 0)
{
    <p>There are no customers.</p>
}
else
{
<table class="table table-bordered">
    <tr>
        <th>Customer</th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@Html.ActionLink(@customer.Name, "Detail", "Customers", new {id = customer.Id}, null)</td>
        </tr>
    }
    
</table>
}

